
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
.vagrant/tf-deploy/.terraform.lock.hcl
.vagrant/tf-deploy/.terraform/providers/registry.terraform.io/hashicorp/aws/5.19.0/linux_amd64/terraform-provider-aws_v5.19.0_x5
tf-deploy/.terraform.lock.hcl
tf-deploy/.terraform/providers/registry.terraform.io/hashicorp/aws/5.19.0/linux_amd64/terraform-provider-aws_v5.19.0_x5
